<div class="example-container mat-elevation-z8">
    <div class="div-spacing">
        <button mat-raised-button color="primary" (click)="gridaction(1,null)">Add New User</button>
        <button [routerLink]="['../../home']" mat-button color="primary"><i class="material-icons">home</i>    Back to Home</button>
    </div>
    <div class="example-table-container">
        <table mat-table [dataSource]="filteredAndPagedIssues" class="example-table" matSort matSortActive="firstName"
            matSortDisableClear matSortDirection="desc" (matSortChange)="resetPaging()">

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef>Age</th>
                <td mat-cell *matCellDef="let row">{{row.age}}</td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef>Gender</th>
                <td mat-cell *matCellDef="let row">{{row.gender=="M"?"Male":"Female"}}</td>
            </ng-container>

            <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let row">{{row.emailAddress}}</td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let row">{{row.city}}-{{row.state}}-{{row.country}}-{{row.zip}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row"><button mat-mini-fab color="primary" (click)="gridaction(2,row)">
                        <mat-icon>edit</mat-icon>
                    </button></td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row"><button mat-mini-fab color="warn" (click)="gridaction(3,row)">
                        <mat-icon>delete</mat-icon>
                    </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
</div>