<div>
    <mat-card>
      <mat-card-header class="header">
        <mat-card-title class="header_title"><i class="material-icons">security</i> Manage Site Content</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card_cntnt">
        <div>
          <div>
            <button [routerLink]="['managemenu']" mat-button color="primary"><i class="material-icons">menu</i>    Course Management</button>
          </div>
          <hr>
          <div>
            <button [routerLink]="['usermsg']" mat-button color="primary"><i class="material-icons">user</i>    User Management</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>